.error-message{
    color: red;
    font-size: 12px;
    margin: 5px;
    font-style: italic;
    justify-self: start;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-20{
    margin-top:20px;
}

.mt-10{
    margin-top:10px;
}

.mt-5{
    margin-top:5px;
}

.mr-10{
    margin-right:10px;
}

.ml-10{
    margin-left:10px;
}


h5 {
    text-transform: uppercase;
    font-weight: normal;
}

.avt-col {
    width: 100px;
}
table .image {
    height: 100px;
    display: block;
}

table strong {
    min-width: 80px;
    display: inline-block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-middle {
    align-items: center;
}
.flex-align-end{
    align-items: end;
}

.flex{
    display: flex;
}

.flex-end{
    justify-content: end;
}

.flex-start{
    justify-content: start;
}

.flex-center{
    justify-content: center;
}

.search-btn{
    width:100%;
    height: 100%
}

.filter .perpage {
    display: inline block;
}

.panel-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
}

.select2-container .select2-selection--single{
    height: 34px !important;
}

.check-table{
    width: 2em;
    height: 2em;
}

.active-bg{
    background-color: rgb(155, 222, 231) !important;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}


.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-block{
    display: inline-block;
}

.bg-silver{
    background-color: rgb(233, 227, 227);
}

.table-img{
    width: 120px;
    height: 90px;
    border: 1px solid rgb(212, 208, 208);
}
.product-list-img{
    width: 100px;
    height: 70px;
    border: 1px solid rgb(212, 208, 208);
}

.w-full{
    width: 100%;
}
.w-80{
    width: 80px;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

#meta_description{
    height: 200px;
}

#sortable{
    list-style: none;
    padding-left: 0;
}

#sortable-variant{
    list-style: none;
    padding-left: 0;
}

.sortui .ui-state-default{
    width: calc(20% - 2px);
    float: left;
    padding-left: 10px;
    margin: 0 0 10px 0;
    margin-bottom: 1%;
    cursor: move;
    background: transparent;
    box-shadow: none;
    border: 0;
}

.sortui .ui-state-default .thumb{
    border: 1px solid #ddd;
    height: 150px;
    background: #fafbfc;
}

.image-scaledown{
    display: block;
    width: 100%;
    height: 100%;
}

.image-scaledown img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.click-to-upload{
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}
.click-to-upload-variant{
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}

#sortable .thumb{
    position: relative;
}

#sortable .delete-image{
    position: absolute;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    color: red;
    right: 0;
    top: 0;
    border: unset;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#sortable .delete-image:hover{
    background: red;
    color: #fff;
}

#sortable-variant .thumb{
    position: relative;
}

#sortable-variant .delete-image{
    position: absolute;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    color: red;
    right: 0;
    top: 0;
    border: unset;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#sortable-variant .delete-image:hover{
    background: red;
    color: #fff;
}

a, .main-title{
    color: #2962ff;
}

.main-title{
    display: flex;
    max-height: 3em;
    overflow: hidden;
    flex-direction: row;
    text-overflow: ellipsis;
    font-weight: 600;
}

.catalouge{
    font-size: 10px;
}
.catalouge span{
    font-weight: 600    ;
}

.catalouge a{
    color: #333;
}

.language-item{
    height: 40px;
    border: 1px solid #333 ;
}

a.active{
    background-color: #99d69d;
}

.variantCheckbox-input{
    margin-top: 0 !important
}
.variantCheckbox-label{
    margin-bottom: 0 !important
}

.attribute-title {
    font-size: 14px;
    color: #1791f2
}

.b-radius-4{
    border-radius: 4px !important
}

.add-variant-btn{
    border:1px dashed #1791f2;
    color: #1791f2;
    padding: 5px 10px;
    width: 127px;
}

.add-variant-btn:hover{
    border:2px dashed #1791f2;
}

.variant-select{
    width: 100%;
}

.italic{
    font-style: italic;
}

.text-bold{
    font-weight: bold;
}
.text-semibold {
    font-weight:semibold;
}

.text-sm{
    font-size:14px !important;
}
.text-xs {
    font-size: 12px!important;
}
.text-lg {
    font-size: 18px!important;
}
.text-2xl {
    font-size: 24px!important;
}
.text-xl {
    font-size: 20px!important;
}
.text-base {
    font-size: 16px!important;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}

.m-0{
    margin: 0 !important;
}

.text-500 {
    font-weight: 500;
}

.to-child-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}

#sortable {
    padding-left: unset;
}

.slide-list > .ui-state-default{
    width:100% !important;
    float: unset !important;
    padding-left: unset !important;
    background: unset !important;
}

.relative{
    position: relative;
}

.deleteSlide{
    position: absolute;
    top: 0;
    right: 0;
}

.date-icon-right{
    position: absolute;
    right: 30px;
    top:50%;
}

.border-red {
    border: 1px solid red !important;
}
.ajaxSearch{
    border-radius: unset;
    width: 100% !important;
}
.choose-product-item{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f6;
}
.choose-product-item > .product-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.choose-product-item > .product-item-remove:hover{
    color: #b22222;
}
.mr-10{
    margin-right: 10px
}

.grid-2-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}
.hidden{
    display:none;
}
.text-blue-700 {
    color: #2b6cb0;
}
.px-5 {
    padding: 0 5px;
}

.border-r{
    border-right: 1px solid #424344;
}
.border-b{
    border-bottom: 1px solid #424344;
}
.pointer {
    cursor: pointer;
}
.choose-product-list-body{
    max-height: calc(100vh - 500px);
    overflow-y: scroll;
}

/* width */
.choose-product-list-body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.choose-product-list-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.choose-product-list-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.choose-product-list-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.px-20{
    padding: 0 20px;
}

.choose-product-list-body > .col-lg-12 {
    padding: 10px 5px !important;
}

.label-navy-500{
    background-color: #58c7d6;
    color: white;
    padding: 0px 10px;
    border-radius: 12px;
}

.label-red-500{
    background-color: #FA5F55;
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
}

.justify-self-end {
    justify-self: end;
}
.w-50{
    width: 50%;
}
.user-small-avt{
    width: 48px;
    height: 48px;
    display: inline-block;
}

/* .profile-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
