.error-message{
    color: red;
    font-size: 12px;
    margin: 5px;
    font-style: italic;
    justify-self: start;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top:20px;
}

.mr-10{
    margin-right:10px;
}

.ml-10{
    margin-left:10px;
}


h5 {
    text-transform: uppercase;
    font-weight: normal;
}

.avt-col {
    width: 100px;
}
table .image {
    height: 100px;
    display: block;
}

table strong {
    min-width: 80px;
    display: inline-block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-middle {
    align-items: center;
}

.flex{
    display: flex;
}

.search-btn{
    width:100%;
    height: 100%
}

.filter .perpage {
    display: inline block;
}

.panel-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
}

.select2-container .select2-selection--single{
    height: 34px !important;
}

.check-table{
    width: 2em;
    height: 2em;
}

.active-bg{
    background-color: rgb(155, 222, 231) !important;
}

.gap-10{
    gap: 10px;
}


.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-block{
    display: inline-block;
}

.bg-silver{
    background-color: rgb(233, 227, 227);
}

.table-img{
    width: 120px;
    height: 90px;
    border: 1px solid rgb(212, 208, 208);
}

.w-full{
    width: 100%;
}
.w-80{
    width: 80px;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

#meta_description{
    height: 200px;
}

#sortable{
    list-style: none;
    padding-left: 0;
}

.sortui .ui-state-default{
    width: calc(20% - 2px);
    float: left;
    padding-left: 10px;
    margin: 0 0 10px 0;
    margin-bottom: 1%;
    cursor: move;
    background: transparent;
    box-shadow: none;
    border: 0;
}

.sortui .ui-state-default .thumb{
    border: 1px solid #ddd;
    height: 150px;
    background: #fafbfc;
}

.image-scaledown{
    display: block;
    width: 100%;
    height: 100%;
}

.image-scaledown img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.click-to-upload{
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}

#sortable .thumb{
    position: relative;
}

#sortable .delete-image{
    position: absolute;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    color: red;
    right: 0;
    top: 0;
    border: unset;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#sortable .delete-image:hover{
    background: red;
    color: #fff;
}

a, .main-title{
    color: #2962ff;
}

.main-title{
    display: flex;
    max-height: 3em;
    overflow: hidden;
    flex-direction: row;
    text-overflow: ellipsis;
    font-weight: 600;
}

.catalouge{
    font-size: 10px;
}
.catalouge span{
    font-weight: 600    ;
}

.catalouge a{
    color: #333;
}
