:root {
    --font-text: Lato, sans-serif;
    --font-heading: Quicksand, sans-serif;
    --color-brand: #3bb77e;
    --primary-color: #3bb77e;
    --color-brand-rgb: 59, 183, 126;
    --color-brand-dark: #29a56c;
    --color-brand-2: #fdc040;
    --color-primary: #5a97fa;
    --color-secondary: #3e5379;
    --color-warning: #ff9900;
    --color-danger: #fd6e6e;
    --color-success: #81b13d;
    --color-info: #2cc1d8;
    --color-text: #4c4c4c;
    --color-heading: #253d4e;
    --color-grey-1: #253d4e;
    --color-grey-2: #242424;
    --color-grey-4: #adadad;
    --color-grey-9: #f4f5f9;
    --color-muted: #b6b6b6;
    --color-body: #7e7e7e;
    --heading-font-size: 32px;
    --body-font-size: 16px;
    --primary-font: "Inter", sans-serif;
}


